@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* basic font style */
.dark-nav{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1.5rem;
font-weight: 700;
line-height: 2.2rem;
}
.dark-1{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 1rem;
font-weight: 600;
line-height: 1.5rem;
}

.dark-2{
    color: rgb(58, 58, 58);
font-family: Poppins;
font-size: 3.3rem;
font-weight: 700;
line-height: 4.2rem;
}
.dark-3{
    color: rgb(120, 120, 133);
font-family: Inter;
font-size: 0.9rem;
font-weight: 700;
line-height: 143%;
letter-spacing: 1.8%;
}
/* style header */
.display-flex{
    display: flex;
}
.header{
    max-width: 1440px;
}
.nav{
    align-items: center;
    justify-content: space-between;
    margin:30px 100px;
}
.nav-detail{
    margin-right:35px ;
}
#icon-search{
    margin-right: 39px;
}
#nav-hidden{
    display: none;
}
a{
    text-decoration: none;
}
/* style head */
.influencer-header-info{
   max-width: 1440px;
   justify-content: space-around;
   margin-top: 30px;
}
.influencer-head-content{
    width: 50%;
    flex-direction: column;
    justify-content: left;
    margin-left: 100px;
}
.primary-btn{
width: 196px;
height: 44px;
border-radius: 41px;
background: rgb(224, 44, 109);
border-style: none;
color: rgb(255, 255, 255);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
}
.influencer-head-pic{
    align-items: center;
    width: 40%;
    height:475px;
    margin-left: 131px;
    background-repeat: no-repeat;
    background-image: url('./images/Circle\ design.svg');
}
/* style sponsor */
.sponsor{
    margin: 100px;
    max-width: 1440px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: repeat(7,1fr);
}
.sponsor-pic{
    padding: 40px;
}
.collection{
    max-width: 1440px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.products-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:-25px;
width: 329px;
height: 473px;
    border-radius: 5px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
}
.checked{
color: orange;
}

@media screen and (max-width:576px) {
    /* style navigation */
    .nav{
        margin: 0px 20px;
    } 
    #nav-hidden{
        display: unset;
    }  
    #icon-search{
        display: none;
    }
    .nav-detail{
        display: none;
    } 
    /* style header journey */
    header,.influencer-head-info{
        width: 100%;
    }
    .influencer-header-info{
        display: flex;
        flex-direction: column-reverse;
    }
    .influencer-head-content{
        align-items: center;
        width: 100%;
        margin-left: 0
    }
    .influencer-head-pic{
        margin-top: 40px;
        width: 100%;
        background-size: 450px;
        background-position:cover;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .head-img{
        width: 90%;
    }
    /* responsive sponsor */
    .sponsor{
        display: grid;
        grid-template-columns:repeat(4,1fr);
        margin:50px 0;
        justify-content: center;
        row-gap: 30px;
        align-items: center;
    }    
    .sponsor-pic{
        padding: 0px;
    }
}